@media (max-width: 575.98px) {
    .g-recaptcha {
        transform: scale(0.75);
        transform-origin: 0 0;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #181818;
    margin: 0;
    font-family: Roboto;
}

* {
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
}

header {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 22px;
}

.navigation {
    display: flex;
    gap: 30px;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    line-height: 74.2px;
    text-align: left;
}

.navigation a:hover {
    color: #FFC701;
}

.convert-section {
    margin: 150px auto 0;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
}

.convert-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
}

.convert-info p {
    font-weight: 900;
    font-size: 62px;
    color: white;
}

.convert-info h1 {
    font-weight: 900;
    font-size: 90px;
    color: #FFC701;
}

.form {
    border: 1px solid #CDC73E;
    background: #252020;
    max-width: 780px;
    width: 100%;
    padding: 60px 95px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-title {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: white;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-item p, label {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
    color: white;
}


.form-item select {
    background: #ffffff url('./images/select01.png') no-repeat right 10px center;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    text-align: left;
    padding-left: 20px;
    appearance: none;
    cursor: pointer;
}

.form input {
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    border: 0;
    outline: 0;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 400;
    line-height: 33.98px;
    text-align: left;
    color: black;
    padding: 0 20px;
}

.form input::placeholder {
    color: rgb(78, 74, 74);
}

.form button {
    background-color: #FFC701;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    color: black;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 600;
    line-height: 57.42px;
    text-align: center;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.form button:hover {
    /* color: #24c924; */
    background-color: #24c924;
}

.course {
    margin: 150px auto 0;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.course-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.course-item {
    border-radius: 10px;
    background-color: #FFC701;
    max-width: 630px;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.course-item img {
    width: 155px;
    height: 155px;
}

.course-text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.name {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
    text-align: left;
    color: white;
}

.desc {
    color: white;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 400;
    line-height: 32.81px;
    text-align: left;
}

.course h2 {
    font-family: Roboto;
    font-size: 110px;
    font-weight: 900;
    line-height: 128.91px;
    text-align: left;
    color: white;
}

.fast-feedback {
    margin: 150px auto 0;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fast-feedback h2 {
    font-family: Roboto;
    font-size: 110px;
    font-weight: 900;
    line-height: 128.91px;
    text-align: center;
    color: white;
}


.fast-items {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.fast-item {
    background-color: #2F2F2F;
    border-radius: 10px;
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

.fast-item p {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 31.64px;
    text-align: center;
    color: white;
}

.round {
    border-radius: 100%;
    background-color: #FFC701;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advatages {
    margin: 150px auto 0;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.advatages h2 {
    font-family: Roboto;
    font-size: 110px;
    font-weight: 900;
    line-height: 128.91px;
    text-align: center;
    color: #FFFFFF;
}

.advantage-items {
    display: flex;
    flex-wrap: wrap;
    gap: 86px;
    align-items: start;
    justify-content: center;
}

.advantage-item {
    max-width: 475px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantage-item p {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    margin-top: 300px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-copy {
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

.logo {
    color: white;
}

.burger-btn {
    display: none;
}

.text-info {
    margin: 150px auto 0;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
}

.text-wrapper {
    background-color: #252020;
    border: 1px solid #CDC73E;
    border-radius: 10px;
    padding: 30px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: center;

}


.adaptive {
    display: none;
}


.adaptiveView {
    display: none;
    color: #121df7;
    cursor: pointer;
}

@media (max-width: 1855px) {
    .navigation {
        display: none;
    }

    .burger-btn {
        display: flex;
        background-color: transparent;
        gap: 4px;
        justify-content: space-between;
        flex-direction: column;
        width: 50px;
        height: 50px;
        padding: 8px 4px;
        border: none;
        cursor: pointer;
    }

    .burger-btn span {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background-color: #ffffff;
    }

    .burger-wrapper {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #00000099;
    }

    .burger {
        position: absolute;
        top: 0px;
        right: 0;
        background-color: #181818;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .burger .navigation {
        display: flex;
        flex-wrap: wrap;
    }

    /* .burger-btn {

    } */
    .convert-section {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin: 0;
    }

    .section {
        padding: 0 20px;
    }

    .fast-items {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    header, footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1300px) {
    .course-items {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width: 900px) {
    footer {
        flex-direction: column-reverse;
        align-items: start;
        gap: 40px;
    }

    .section h2 {
        font-size: 60px;
    }

    .course-item {
        padding: 20px;
    }

    .name {
        font-size: 30px;
    }

    .desc {
        font-size: 20px;
    }

    .form {
        padding: 20px;
    }

    .form-title {
        font-size: 25px;
        line-height: normal;
    }

    .form-item p {
        font-size: 16px;
        line-height: normal;
    }

    .form-item select {
        height: 60px;
        font-size: 20px;
        background-size: 40px auto !important;

    }


    .form input {
        height: 60px;
        font-size: 20px;

    }

    .form button {
        height: 60px;
        font-size: 20px;
    }

    .text-wrapper {
        font-size: 16px;
        line-height: normal;
    }

    .adaptiveView {
        display: block;
    }

    .adaptive-text {
        display: none;
    }

}

@media (max-width: 600px) {
    /* .convert-info {

    } */
    .adaptive {
        display: flex;
    }

    .convert-info p {
        font-size: 35px;
    }

    .convert-info h1 {
        font-size: 45px;
        text-align: center;
    }

    .section h2 {
        font-size: 45px;
        line-height: normal;
    }
}

@media (max-width: 500px) {
    .course-item {
        flex-direction: column;
        gap: 20px;
    }

    .name {
        font-size: 45px;
        text-align: center;
    }

    .footer-copy {
        font-size: 15px;
    }

    .convert-info {
        margin-top: 0;
    }

    .logo {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .convert-info p {
        font-size: 25px;
    }

    .convert-info h1 {
        font-size: 35px;
        text-align: center;
    }

    .section h2 {
        font-size: 35px;
    }

    .advantage-item p {
        font-size: 30px;
    }
}

.captcha-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.captcha-block input {
    width: unset;
}

.captcha {
    border-radius: 10px;
}

.errorlist {
    font-family: Roboto;
    font-size: 29px;
    color: #FFC701;
    margin-top: 25px;
}